<div class="banner">
  <div class="banner-content">
    <h1><strong>The Cocktail Factory</strong></h1>
    <p> Brings bartender skills to party people</p>
  </div>
</div>

<div class="container">
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-sm-4">
      <div class="card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <ul class="list-unstyled">
          <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
        </ul>
      </div>
    </div>
  <% end %>
  </div>
</div>


