<h1>Cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
<% end %>

<%= link_to new_cocktail_path  do %>
<i class="fas fa-plus">Add a cocktail</i>
<% end %>
