<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "logo.jpg", width: 50, height: 50 %>
  </div>
  <div class="navbar-button">
    <%= link_to new_cocktail_path  do %>
      <button type="button" class="button">Add a cocktail</button>
    <% end %>
  </div>
</div>
