.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255,0.8), rgba(255, 255, 255, 0.8)), asset-url("co.jpg");
  height: 300px;
  color: black;
}

.banner-content {
  font-family: 'Special Elite', cursive;
  text-align: center;
}
