/* Main navbar */
.navbar {
  background: black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: relative;
}

/* Logo */
.navbar-logo {
  position:absolute;
  border-radius: 50px;
}

.navbar-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
